// @use "../styles/mixin.scss" as mixin;

.root {
    width: 100%;

    .wrapper {
        background-color:#bbd8fa;
        // padding:10px;
        display: flex;
        width: 80%;
        margin: 0 auto;

        .left {
            background-color: antiquewhite;
            width: 40%;
            padding: 10px;

            .img {
                width: 100%;
                background-color: red;
                
                .photo {
                    width: 100%;
                }
            }            
        }
        
        .right {
            width: 60%;
            padding: 10px;

            .h1 {
                font-size: 3em;
                font-weight: 600;
                text-transform: uppercase;
                padding: 0px;
                margin: -10px 0 0 0 ;
            }
            
            .description {
                font-size:13px;
            }
            
            .link {
                color:#fff;
            }            
        }
        

        

    
    }
    
        
    

}

